<meta http-equiv="X-Frame-Options">
{% extends 'base.html' %}

{% block content %}

<div class="image-aboutus-banner">
    <div class="container">
            <div class="row about">
                <div class="col md 12">
                    <h1 class="lg-text">About Us</h1>
                    <p class="image-aboutus-para">Quality Care You Can Trust</p>
                </div>
            </div>
    </div>
</div>
     
<div class="padding-about">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="strong">Who we are and<br>what we do</h1>
            </div>
            <div class="col s12">
                <p>Your Nurse 24/7 is a company set up to service the needs of 
                    Healthcare organisations to find suitable Nursing staff 
                    for day and night shifts. We understand that Healthcare is 
                    a 24 hour, 365 days a year business and as such requires 
                    true flexibility whereby Healthcare institutions are 
                    adequately staffed around the clock.</p>
                <p>Our temporary staffing division understand the hardship 
                    faced by Majority of Healthcare institutions with finding 
                    Nursing staff that are willing to work day shifts whereby 
                    the preference of majority of agency Nurses tends to be for 
                    night shifts. Your Nurse 24/7 provides a Niche service 
                    whereby all temporary Nurses on our books are required to
                     be flexible enough to accommodate both day and night shifts.</p>
                <p>
                    Our aim is to provide a valued and much needed service 
                    to enable our clients to continuously meet their staffing 
                    quotas. In order to achieve this we aim to provide an
                    effective recruitment service for ad-hoc and contract
                    placements to both Nurses and Clients.
                </p>
                <p>Our Team is made up of experienced individuals who 
                    have a thorough understanding of the market and who work 
                    tirelessly to exceed our Client’s expectations.</p>
                <p>We believe in delivering quality healthcare professionals 
                    24/7 and this have a continuous recruitment process to 
                    ensure the compliance of our Nurses and also to guarantee 
                    client satisfaction.</p>
                <p>We provide a nationwide service to both Clients and Nurses, supplying to:</p>
                <ul>
                    <li>NHS ACUTE TRUSTS</li>
                    <li>HEALTH AND CARE TRUSTS</li>
                    <li>PRIVATE HOSPITALS</li>
                    <li>NURSING & RESIDENTIAL HOMES</li>
                </ul>
                <p>and many more institutions.</p>
                <p>For Clients, why not contact us now to see how we can start 
                    making a difference to your fill rates. We operate in a 
                    niche market providing a service that most agencies fail 
                    to provide, 
                    <a class="" href="mailto:procurement@yournurse247.co.uk">click here.</a></li></p>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?cs=srgb&dl=photo-of-people-near-wooden-table-3184418.jpg&fm=jpg">
                <span class="card-title">Partnership</span>
            </div>
            <div class="card-content">
                <p>
                You work in partnership when you
                involve the individual and their family
                and work alongside other workers. The
                key to a successful partnership is good
                communication and trust; valuing and
                respecting what others have to say.</p>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://images.pexels.com/photos/355934/pexels-photo-355934.jpeg?cs=srgb&dl=adult-doctor-girl-355934.jpg&fm=jpg">
                <span class="card-title">Dignity</span>
            </div>
            <div class="card-content">
                <p>
                    Treating somebody in
                    a dignified way means to treat
                    someone with respect, valuing their
                    individuality and their ethical and
                    moral beliefs. In order to provide
                    dignified care you need to have an
                    open and positive attitude.
                </p>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://images.pexels.com/photos/45842/clasped-hands-comfort-hands-people-45842.jpeg?cs=srgb&dl=care-caregiver-deal-45842.jpg&fm=jpg"
                    style="height: 18rem;">
                <span class="card-title">Respect</span>
            </div>
            <div class="card-content">
                <p>
                    Respecting someone means believing
                    and showing that they have importance
                    as an individual. It means that they
                    have their own opinions and feelings
                    and that even though you may not
                    agree with them, you do respect them.
                </p>
            </div>
        </div>
    </div>
</div>
      -->

{% endblock %}