<meta http-equiv="X-Frame-Options">
{% extends 'base.html' %}

{% block content %}

<div class="image-aboutus-banner">
    <div class="container">
            <div class="row about">
                <div class="col md 12">
                    <h1 class="lg-text">About Us</h1>
                    <p class="image-aboutus-para">We care about you.</p>
                </div>
            </div>
    </div>
</div>
     
<div class="padding-about">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="strong">Who we are and<br>what we do</h1>
            </div>
            <div class="col s12">
                <p>The experience and knowledge of our team enables us to 
                really understand our clients changing needs and enhance our 
                reputation based on our ability to deliver responsive, reliable 
                and people centred services to both individuals and organisations.</p>
                <p>Our ‘people-first’ approach is at the heart of our values, 
                and an experienced member of staff is available 24 hours a day, 
                seven days a week to ensure your needs are covered.</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?cs=srgb&dl=photo-of-people-near-wooden-table-3184418.jpg&fm=jpg">
                <span class="card-title">Partnership</span>
            </div>
            <div class="card-content">
                <p>
                You work in partnership when you
                involve the individual and their family
                and work alongside other workers. The
                key to a successful partnership is good
                communication and trust; valuing and
                respecting what others have to say.</p>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://images.pexels.com/photos/355934/pexels-photo-355934.jpeg?cs=srgb&dl=adult-doctor-girl-355934.jpg&fm=jpg">
                <span class="card-title">Dignity</span>
            </div>
            <div class="card-content">
                <p>
                    Treating somebody in
                    a dignified way means to treat
                    someone with respect, valuing their
                    individuality and their ethical and
                    moral beliefs. In order to provide
                    dignified care you need to have an
                    open and positive attitude.
                </p>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://images.pexels.com/photos/45842/clasped-hands-comfort-hands-people-45842.jpeg?cs=srgb&dl=care-caregiver-deal-45842.jpg&fm=jpg"
                    style="height: 18rem;">
                <span class="card-title">Respect</span>
            </div>
            <div class="card-content">
                <p>
                    Respecting someone means believing
                    and showing that they have importance
                    as an individual. It means that they
                    have their own opinions and feelings
                    and that even though you may not
                    agree with them, you do respect them.
                </p>
            </div>
        </div>
    </div>
</div>
     

{% endblock %}