<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='static/css/style.css'>
  <link rel='stylesheet' href='static/css/form.css'>
  <link rel='stylesheet' href='static/css/social.css'>
  <link rel='stylesheet' href='static/css/about.css'>
  <link rel='stylesheet' href='static/css/register_form.css'>
  <link rel='stylesheet' href='static/css/main.css'>
  <link rel='stylesheet' href='static/css/colour.css'>
  <link rel='stylesheet' href='static/css/overrides.css'>
  <link rel='stylesheet' href='static/css/helpers.css'>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="icon" href="/static/images/black.png" type="image/png" sizes="32x32">
  <script src="static/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <title>YourNurse24/7</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% block head_js %}
  {% endblock head_js %}
</head>
<body>
  <header class="white" role="navigation">
    <div class="row">
      <div class="col l12 s12 margin-2 margin-bottom-0">
          <div class="nav-wrapper container">
            <div class="col l4 s12">
                <a href="#" data-target="nav-mobile" class="sidenav-trigger margin-right-30"><i class="material-icons font-size-3">menu</i></a>
            </div>
              <ul class="sidenav" id="nav-mobile">
                <div class="wrapper-sidenav">
                  <li class="border-bottom"><a href="{{url_for('hello')}}">Home</a></li>
                  <li class="border-bottom"><a href="{{url_for('about')}}">About</a></li>
                  <li class="border-bottom"><a href="{{url_for('contact')}}">Contact Us</a></li>
                  <li><a href="{{url_for('register')}}">Register</a></li>
                </div>
              </ul>
              <div class="col l4 s12">
                  <a href="{{url_for('hello')}}" class="margin-left-3"><img src="/static/images/247.png" alt="" height="70" width="230" class="logo-top"></a>
              </div>
              <div class="col l4 s12 margin-top-1">
                  <a href="{{url_for('contact')}}" class="contact-phone margin-left-contact">Contact Us <i class="material-icons v-middle">local_phone</i></a>
              </div>
          </div>
      </div>
    </div>
  </header>


  {% block content %} {% endblock %}

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Owned and led by nurses, we have 
            been supplying nurses and care staff across the South and South West, 
            since 2017 we have a simple directive: to offer 
            excellent care and support to your staff and care community. Our 
            staff believe in accountability for their work.</p>
                <p>We specialize not only in ‘last minute’ staff placement, 
                  but go by the “our staff is your staff” principle.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Social Media</h5>
          <ul>
              <a href="https://www.facebook.com/Your-Nurse-247-275733063114102/"
                 class="fa fa-facebook" target="_blank"></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="mailto:office@yournurse247.co.uk">Email: office@yournurse247.co.uk</a></li>
            <li><a class="white-text">Landline: 01174010486</a></li>
            <li><a class="white-text">On Call: 07960097790 / 07951505105</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col s3">
          <a href="/terms">Terms & Conditions</a>
        </div>
        <div class="col s3">
          <a href="/privacy">Privacy Policy</a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="#">Bogdan Vlad</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/nav_mobile.js"></script>
  <!-- <script src="js/init.js"></script> -->
  </body>
</html>
