<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-Frame-Options" content="sameorigin">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='static/css/style.css'>
  <link rel='stylesheet' href='static/css/form.css'>
  <link rel='stylesheet' href='static/css/social.css'>
  <link rel='stylesheet' href='static/css/about.css'>
  <link rel='stylesheet' href='static/css/register_form.css'>
  <script src="static/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <title>YourNurse24/7</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% block head_js %}
  {% endblock head_js %}
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{url_for('hello')}}" class="brand-logo padding-top"><img src="/static/images/logo.svg" alt=""></a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('hello')}}">Home</a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
        <li><a href="{{url_for('work_with_us')}}">Work With Us</a></li>
        <li><a href="{{url_for('contact')}}">Contact Us</a></li>
        <li><a href="{{url_for('register')}}">Register</a></li>
      </ul>
    </div>
</nav>

      <ul class="sidenav" id="nav-mobile">
        <li><a href="{{url_for('hello')}}">Home</a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
        <li><a href="{{url_for('work_with_us')}}">Work With Us</a></li>
        <li><a href="{{url_for('contact')}}">Contact Us</a></li>
      </ul>

  {% block content %} {% endblock %}

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">The experience and knowledge of our team enables us to 
              really understand our clients changing needs and enhance our 
              reputation based on our ability to deliver responsive, reliable 
              and people centred services to both individuals and organisations.</p>
                <p>Our ‘people-first’ approach is at the heart of our values, 
                and an experienced member of staff is available 24 hours a day, 
                seven days a week to ensure your needs are covered</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Social Media</h5>
          <ul>
              <a href="https://www.facebook.com/Your-Nurse-247-275733063114102/"
                 class="fa fa-facebook" target="_blank"></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="mailto:woffice@yournurse247.co.uk">Email: office@yournurse247.co.uk</a></li>
            <li><a class="white-text">Landline: 01174010486</a></li>
            <li><a class="white-text">On Call: 07960097790 / 07951505105</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="#">Bogdan Vlad</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/nav_mobile.js"></script>
  <!-- <script src="js/init.js"></script> -->
  <script>
    var adminManager = new ActiveXObject('Microsoft.ApplicationHost.WritableAdminManager');
        adminManager.CommitPath = "MACHINE/WEBROOT/APPHOST/Default Web Site";
    var httpProtocolSection = adminManager.GetAdminSection("system.webServer/httpProtocol", "MACHINE/WEBROOT/APPHOST/Default Web Site");
    var customHeadersCollection = httpProtocolSection.ChildElements.Item("customHeaders").Collection;

    var addElement = customHeadersCollection.CreateNewElement("add");
        addElement.Properties.Item("name").Value = "X-Custom-Name";
        addElement.Properties.Item("value").Value = "MyCustomValue";
        customHeadersCollection.AddElement(addElement);

        adminManager.CommitChanges();
  </script>

  </body>
</html>
