{% extends 'base.html' %}

{% block content %}

<p class="centered-heading">Privacy Policy</p>
<div class="row center">
    <div class="col s12">
        <p>
            Retain Healthcare is committed to every visitor's right to privacy. 
            This privacy statement applies to Retain Healthcare, who control and 
            make use of visitor information collected via this site. If you as
             a visitor choose to register or submit information to this website, 
             you agree to the use of such data in accordance with this privacy 
             statement. Please note that this site contains links to other sites 
             which may not be governed by this privacy statement. 
        </p>
        <p>
            As a visitor, you do not have to submit any personal information to 
            use our website. The site collects personally identifiable information 
            that is specifically and voluntarily provided by a visitor, as part 
            of the application process, should you wish to apply to a vacancy 
            advertised on this site or register with us. 
        </p>
        <p>
            We will use information supplied by you (including without limitation 
            sensitive personal data) to aid the recruitment process and 
            administrative functions. You consent to us using information 
            provided by you in this way. We will process any data provided 
            by you to us when using this site, in accordance with UK data protection 
            legislation. You can request a copy of your data or ask for it to 
            be deleted at any time.
        </p>
        <p>
            This website uses cookies to track user activity whilst on the site. 
            In order to fully utilise the services we offer visitors to the site 
            will need to have cookies enabled. However, no user information is 
            processed or retained by us using cookies. 
        </p>
        <p>
            We reserve the right to modify or amend this privacy statement at 
            any time and for any reason.
        </p>
    </div>
</div>

{% endblock %}