{% extends 'base.html' %}

{% block content %}
<p class="centered-heading">Terms & Conditions</p>
    <div class="row center">
        <div class="col s12">
            <p>
                ‘Retain Healthcare’ means Retain Healthcare Limited, a company 
                registered in England and Wales. Registered Address: 8 Ormond 
                Terrace, Regent Street, Cheltenham, Gloucestershire, GL50 1HR. 
                Company number: 11572722
            </p>
            <h4>Links</h4>
            <p>
                This site may contain links to other websites which we feel 
                may be of interest to you. We accept no responsibility for or 
                liability in respect of the content of those websites. The 
                use of any such links is entirely at your own risk.
            </p>
            <h4>Use of material</h4>
            <p>
                All intellectual property rights in or relating to the design 
                of, and content on the site are and shall remain the sole 
                property of Retain Healthcare, or where applicable are 
                reproduced with the permission of the rights owner, such as 
                content suppliers, affiliates and/or you. 
            </p>
            <p>
                You may not modify, reproduce, display, distribute or sell 
                any such material for any commercial or business purpose without
                    Retain Healthcare’s prior written permission. Your use of 
                    the site and downloads from it, and the operation of these 
                    terms and conditions, shall be in accordance with the laws 
                    of England and Wales.
            </p>
            <h4>Disclaimer</h4>
            <p>
                Whilst Retain Healthcare makes every effort to ensure that the 
                information on the site is accurate and up to date, we accept
                no liability for any loss or damage to you or any third party 
                that may arise from, or in relation to, the use of any 
                information posted on this site at any time.
            </p>
            <p>
                By using this site you agree to indemnify and hold harmless Retain 
                Healthcare any and all costs damages, claims, liabilities, 
                proceedings or expenses (including legal expenses) which may 
                arise directly or indirectly from or in relation to any use or
                misuse of this site.
            </p>
            <h4>Changes to terms and conditions</h4>
            <p>
                These terms and conditions may be changed by Retain Healthcare 
                at any time. You will be deemed to accept the terms and conditions 
                (as amended) when you next use the site following any amendment.
            </p>
        </div>
    </div>
{% endblock %}